/** CSS STYLE **/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #2a2626;
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #f5f4f0;
}

.container {
  position: relative;

  max-width: 1110px;
  margin: 100px;
}

.main-container {
  position: relative;

  max-width: 1110px;
  margin: 100px;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.wrapper-picture {
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  font-weight: 400;
  font-size: 72px;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

span {
  color: #fe8a02;
}

.heading-primary {
  z-index: 2;
}

.heading-photo {
  position: absolute;
  top: -45px;
  right: -270px;

  width: auto;
  height: 525px;
}

.description {
  padding-top: 200px;
}

.description-text-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.description-btn:link,
.description-btn:visited {
  display: inline-block;
  margin-top: 40px;
  padding: 11px 24px;

  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #fe8a02;

  transition: all 0.2s;
}

.description-btn:active,
.description-btn:hover {
  background-color: #ea7600;
}

.section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-about-text {
  display: flex;
  flex-direction: column;
  gap: 30px;

  text-align: center;
}

.video {
  margin-top: 30px;
  margin-bottom: -200px;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.section-types {
  display: flex;
  justify-content: center;
  padding-top: 100px;

  background-color: #42413c;
}

.types-container {
  display: grid;
  grid-template-rows: 323px 348px;
  grid-template-columns: 350px 350px 350px;

  column-gap: 30px;
  row-gap: 20px;
}

.types-heading {
  color: #fff;
  font-weight: 400;
  font-size: 52px;
  font-family: Neucha, sans-serif;
  line-height: 62.4px;
}

.types-box {
  display: flex;
  flex-direction: column;
  padding: 24px;

  background-color: #f5f4f0;

  transition: all 0.5s;
}

/* .types-box:active,
.types-box:hover {
  background-color: #fe8a02;
} */

.types-box-id {
  color: #42413c;
  font-weight: 400;
  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 70.5px;

  transition: all 0.5s;
}

.types-box-title {
  padding: 30px 0 16px;

  color: #fe8a02;

  transition: all 0.5s;
}

.types-box:hover,
.types-box:active {
  color: #fff;

  background-color: #fe8a02;
}

.types-box:hover .types-box-id {
  color: #fff;
}

.types-box:hover .types-box-title {
  color: #fff;
}

/* SECTION IKEA EFFECT */

.details-box {

  display: grid;
  grid-template-columns: 1fr 1fr;

  column-gap: 30px;
}


.background-white {
  background-color: #f5f4f0;
}

.background-brown {
  background-color: #B09A81;
}

.section-details {
  display: flex;
  justify-content: center;
  padding-top: -100px;
}

.details-image {
  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.heading-small {
  color: #908d8b;
  font-weight: 400;
  font-size: 24px;
  font-family: Neucha, sans-serif;
  line-height: 28.8px;
}

.details-text {
  padding-top: 30px;

  color: #2a2626;
  font-weight: 400;
  font-size: 34px;
  font-family: Neucha, sans-serif;
  line-height: 41px;
}

.details-subheading {
  display: inline-block;
  margin-top: 100px;
  padding: 5px 964px 5px 10px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;

  background-color: #b09a81;
}

.reflection-text-box {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.heading-brown {
  color: #D7CCC0;
}

.heading-secondary-brown {
  color: #fff;
}

.subheading-brown {
  color: #B09A81;
  background-color: #fff;
}

.text-box-brown {
  color: #fff;
}

.footer {
  display: flex;
  justify-content: center;
}

.subscription {
  display: grid;
  width: 1110px;
  background-color: #42413C;
  grid-template-columns: 1fr 1fr;
  padding-left: 55px;
  padding-right: 55px;
  justify-content: space-between;
}

.subscription-title {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 41px;
  color: #FFFFFF;

  align-self: center;
}

.subscription-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscription-email {
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
}

#email-field {
  width: 423px;
  height: 50px;
}

.subscription-agreement {
  font-size: 12px;
  line-height: 19px;
  color: #fff;
}

input::placeholder {
  opacity: 0.2;
  color: #757575;
  padding-left: 15px;
  font-size: 13.1px;
  line-height: 21px;
}

.subscribe-btn {
  position: relative;
}

.subscribe-btn::before {
  content: url('data:image/svg+xml;charset=utf-8,<svg width="72" height="48" viewBox="0 0 72 48" fill="none" xmlns="http://www.w3.org/2000/svg">'
  <rect width="72" height="48" fill="#FE8A02" />
  <path
    d="M46 14L35 25"
    stroke="white"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M46 14L39 34L35 25L26 21L46 14Z"
    stroke="white"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>')
}